<div class="changer">change urgency to:</div>
<% (1..3).each do |urgency| %>
  <div class="changer">
    <% unless project_to_change.urgency == urgency %>
      <% remote_form_for( project_to_change, :update => "projects_client" ) do |f| %>
        <%= f.hidden_field :urgency, :value => urgency %>
        <%= link_to_function urgency, "$(this).up('form').onsubmit()" %>
      <% end %>
    <% end %>
  </div>
<% end %>
<div class="changer">
  <% remote_form_for( project_to_change, :update => "projects_client" ) do |f| %>
    <%= f.hidden_field :close_me, :value => '1' %>
    <%= link_to_function "close", "$(this).up('form').onsubmit()" %>
  <% end %>
</div>
